# Limpieza de datos

## 1. Generación de datos faltantes

In [61]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk
from sklearn import preprocessing as ps
from difflib import SequenceMatcher
import csv

In [ ]:
client=pd.read_csv("Data/customers.csv")

In [ ]:
sells=pd.read_csv("Data/transactions_train.csv")

## 2. agrupación de datos y eliminación de variables

En este caso vamos a proceder a primero hacer una correlación con las compras y los artículos de cada cliente, para generar un dataframe, que nos resuma los artículos comprados Por cliente

In [17]:
a=len(sells)//10
sells=sells.loc[0:a]
sells.index=pd.to_datetime(sells.t_dat)
del(sells["t_dat"])
sells.head()

,customer_id,article_id,price,sales_channel_id
t_dat,,,,
2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2

In [18]:
sells.tail()

,customer_id,article_id,price,sales_channel_id
t_dat,,,,
2018-11-28,475f4a95d432dc7b33464c2936df871b0b8b762311fc6d...,698796001,0.042356,2
2018-11-28,475f4a95d432dc7b33464c2936df871b0b8b762311fc6d...,670244001,0.033881,2
2018-11-28,475f4a95d432dc7b33464c2936df871b0b8b762311fc6d...,670244001,0.033881,2
2018-11-28,475f4a95d432dc7b33464c2936df871b0b8b762311fc6d...,638628002,0.059305,2
2018-11-28,4762c12b0b36d36e523b59ac444c54899c13d9318dffab...,224314013,0.011847,2

Separamos directamente los datos de test y de train

In [40]:
test=sells.loc["2018-11-20":]
test.to_csv("Data/test.csv")

In [39]:
train=sells.loc[:"2018-11-19"]
train.to_csv("Data/train.csv")

In [44]:
count_costumer=train["customer_id"].unique().tolist()

In [46]:
count_costumer=train["customer_id"].unique().tolist()
filename=f"Data/newsales2.csv"
with open(filename,"a",newline="") as csvfile:
    writer=csv.DictWriter(csvfile,fieldnames=["client_id","articles_list"])
    writer.writeheader()
    for i in count_costumer:
        d={}
        d["client_id"]=i
        d["articles_list"]=str(train.loc[train["customer_id"]==i,["article_id"]]["article_id"].tolist())
        writer.writerow(d)
    cvsfile.close()

KeyboardInterrupt:

In [60]:
data=pd.read_csv("Data/newsales2.csv")
data.index=data.client_id
del(data["client_id"])
client.index=client.customer_id
del(client["customer_id"])
del(client["postal_code"])
data=data.join(client)
data.head()

,articles_list,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
client_id,,,,,,,
000058a12d5b43e67d225668fa1f8d618c13dc232df0cad8ffe7ad4a1091e318,"[663713001, 541518023, 663713001]",NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
00007d2de826758b65a93dd24ce629ed66842531df6699338c5570910a014cc2,"[505221004, 685687003, 685687004, 685687001, 5...",1.0,1.0,ACTIVE,Regularly,32.0,8d6f45050876d059c830a0fe63f1a4c022de279bb68ce3...
00083cda041544b2fbb0e0d2905ad17da7cf1007526fb4c73235dccbbc132280,"[688873012, 501323011, 598859003, 688873020, 6...",NaN,NaN,ACTIVE,NONE,29.0,24e3594738f327e8a7671ec6d1e18b308fb0282e1f7e23...
0008968c0d451dbc5a9968da03196fe20051965edde7413775c4eb3be9abe9c2,"[531310002, 529841001, 662980002]",1.0,1.0,ACTIVE,Regularly,50.0,860a370c01b1eeebe3f3c78241f3236c79b0c41669c19e...
000aa7f0dc06cd7174389e76c9e132a67860c5f65f970699daccc14425ac31a8,"[501820043, 501820043, 674681001, 671505001, 6...",NaN,NaN,ACTIVE,NONE,22.0,6d98a3ca1370c33de04f4a0c2e81cd9c9e36d9501ca6dc...
...,...,...,...,...,...,...,...
18880241f26c6669a203ebaa9d7e90f43681e64578863a6fe2e48345c34b5148,"[617919017, 687478001, 554704004, 469137001, 4...",NaN,NaN,ACTIVE,NONE,24.0,1fabd41c43cd8ec0cbacaabe4b1ea1e2fc3e44e3a6c828...
188a757e79d3049743f9521fc430892f27430470bd5cf54cb3623fb4dae1dad9,"[573085001, 573085001, 573085001, 573085001]",NaN,NaN,ACTIVE,NONE,42.0,3aaa17b9272bcbdfade821abb1001fe3a97a6335ae367d...
188bd2054fcba781978783daa4687c5cd5a313975c7a20a9b0743d43d7ad9447,"[642499001, 640129003, 594430008, 616337002, 6...",1.0,1.0,ACTIVE,Regularly,44.0,895f65b41c4d69184ef0ee6f3c7c27fbb682c89cf0e688...
1897518a4499bcace646fe8e7148e980f5f67caf489b89726c70e209d0e6d337,"[618839003, 624120005, 297078002, 701256004, 2...",1.0,1.0,ACTIVE,Regularly,33.0,566e8b3eefd30f3119c20bcf7976c2aced33c2c9f42a61...
189907d432068b9646ca4f9f7dd25d1a2f951a24e276c8475bd77159756d3e01,"[562252028, 539723042, 457892005, 657415001]",NaN,NaN,ACTIVE,NONE,33.0,2ab5c0beb7f8e0f3248b63fb603c97dc1d9f6bd93abb5c...